

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    gap: 10px;
}

header{
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: goldenrod;
}

main{
    grid-column: 2;
    grid-row: 2;
    background-color: purple;
}

.aside-left, .aside-right{
    height: 40vh;
    background-color: pink;
}

.aside-left{
    grid-column: 1;
}

.aside-right{
    grid-column: 3;
    align-self: end;
}

footer{
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: aquamarine;
}